<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Fila 1</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item ng-repeat="item in $ctrl.line" ng-click="null">
        <div class="md-list-item-text">
          <p>{{$index}} - {{item.name}} - {{item.createdAt | date:'short'}}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="$ctrl.pop()">Remover da fila</md-button>
  </md-card-actions>
</md-card>
